.pulldownPanel {
	overflow: hidden;
	width: 90%;
	text-align: center;
}
.pulldownPanel select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.pulldownPanel select::-ms-expand {
    display: none;
}
.pulldownPanel {
	position: relative;
	border: 2px solid #dfdfdf;
    border-radius: 50px;
    background: transparent;
}
.pulldownPanel::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #dfdfdf;
	pointer-events: none;
}
.pulldownPanel select {
    padding: 8px 38px 8px 8px;
    text-align: center;
    color:#dfdfdf;
}